/* src/assets/main.css */
@import './base.css';

/* 모바일 기본 스타일 */
#app {
  width: 100%; /* 너비를 100%로 설정 */
  padding: 0; /* 모바일에서는 패딩 제거 또는 최소화 */
  margin: 0;
  font-weight: normal;
  display: flex;
  height: 100%;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* 데스크톱 화면용 스타일 (예: 1024px 이상) */
@media (min-width: 1024px) {
  #app {
    max-width: 1280px;
    margin: 0 auto; /* 데스크톱에서는 중앙 정렬 */
    padding: 2rem; /* 데스크톱에서만 패딩 적용 */
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  body {
    display: flex;
    place-items: center;
  }
}

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* 모든 요소에 box-sizing 적용 */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
